<div id="second">
    <img src="../../assets/sec.jpg" width=350 height=500>
    <h1>Издательство</h1>
    <p>Издательство «Раритет» было основано в 1997 году в рамках книготорговой компании «Раритет». Издательство
        выпускает подарочные альбомы, рассказывающие о природе Кыргызстана, о традициях и обычаях кыргызов, об их
        искусстве на русском и английском языках; карты, открытки и путеводители по Кыргызстану. Также издательство
        выпускает красочно оформленную серию кыргызских сказок и эпосов для детей на русском, кыргызском и других
        языках, серию «Мудрость Востока», состоящую из 5 книг, куда входит поэзия средневековых авторов (Баласагуни,
        Руми, Омар Хайам, Джами, Кашгари).</p>
</div>


<div id="third">
    <h1>Музей прикладного искусства</h1>
    <p>В магазине, расположенном на площади Ала-Тоо Вы можетет бесплатно посетить музей прикладного искусства народов
        Центральной Азии.</p>

    <iframe width="730" height="455" src="https://www.youtube.com/embed/ttSPMPYVibU" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>