<div id="about">
	<div id="about_img">
		<img src="/assets/about1.png" width="340" height="220">
		<img src="/assets/about2.png" width="340" height="220">
	</div>
	<p><strong> Фирма «Раритет»</strong> была основана в марте 1992 года. В настоящее время это динамично развивающееся
		книготорговое и издательское предприятие. Книжные магазины фирмы находятся в центральной части столицы
		Кыргызстана – городе Бишкек. Просторные светлые залы, оригинальное торговое оборудование, свободная выкладка
		книг, интерьер, выполненный в кыргызском национальном стиле, радушие продавцов – визитная карточка фирмы.
		<br>
		В магазине, расположенном на площади Ала-Тоо, гости также могут бесплатно посетить музей – постоянно действующую
		выставку прикладного искусства кыргызского народа или купить сувенир в лавке, стилизованной под традиционную
		кыргызскую юрту.<br><br>
		<strong> Ассортимент</strong> предлагаемой магазинами литературы удовлетворит любые вкусы и потребности
		любителей книги. Постоянным ассортиментом магазина являются культурно-исторические издания, фотоальбомы о
		природе, истории и этнографии Кыргызстана, а также туристские карты и открытки с видами красивейших мест
		Кыргызстана
		<br><br>

	</p>
</div>